<div class="modal-header">
  <h4 class="modal-title">Consultant <b>{{consultant.name}}</b></h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="consultant">
  <div class="row">
    <div class="col-sm-6">Nume:</div>
    <div class="col-sm-6">{{consultant.name}}</div>
  </div>
  <div class="row">
    <div class="col-sm-6">Telefon:</div>
    <div class="col-sm-6">
      <div *ngFor="let phone of consultant.phones">
        <a href="tel:{{phone}}">{{phone}}</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">Județ:</div>
    <div class="col-sm-6">{{consultant.county}}</div>
  </div>
  <div class="row">
    <div class="col-sm-6">Nr. Legitimație:</div>
    <div class="col-sm-6">{{consultant.legitimation}}</div>
  </div>
  <div class="row">
    <div class="col-sm-6">Specializări:</div>
    <div class="col-sm-6">
      <div *ngFor="let specialization of consultant.specializations">
        {{specialization}}
      </div>
    </div>
  </div>
</div>
<div class="modal-body" *ngIf="!consultant">
  Loading ...
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
