<div class="card map-card">
  <div class="card-block map-container">
    <sebm-google-map [latitude]="me.lat" [longitude]="me.lng" [zoom]="zoom" class="map">
      <sebm-google-map-marker
        *ngIf="me"
        [latitude]="me.lat"
        [longitude]="me.lng"
        [draggable]="true"
        [title]="'tu'"
        [zIndex]="1000"
        [iconUrl]="'assets/map/marker-green-50.png'">
      </sebm-google-map-marker>

      <sebm-google-map-marker
        *ngFor="let coord of coords"
        [label]="'C'"
        [latitude]="coord.lat"
        [longitude]="coord.lng"
        [zIndex]="200"
        (markerClick)="markerClicked(coord.consultant)"
      >
      </sebm-google-map-marker>
    </sebm-google-map>
  </div>
</div>
