<div class="padding">
  <div class="modal-header">
    <h4 class="modal-title">Consultant <b>{{consultant.name}}</b></h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="consultant">

    <sebm-google-map [latitude]="target.lat" [longitude]="target.lng" [zoom]="zoom" class="map">
      <sebm-google-map-marker [latitude]="target.lat"
                              [longitude]="target.lng"
                              [draggable]="true"
                              [title]="'12333'"
                              [zIndex]="1000"
                              [iconUrl]="'assets/map/marker-red-50.png'">
      </sebm-google-map-marker>
      <sebm-google-map-marker
                              *ngIf="me"
                              [latitude]="me.lat"
                              [longitude]="me.lng"
                              [draggable]="true"
                              [title]="'tu'"
                              [zIndex]="1000"
                              [iconUrl]="'assets/map/marker-green-50.png'">
      </sebm-google-map-marker>

      <sebm-google-map-directions [origin]="me" [destination]="target"></sebm-google-map-directions>
    </sebm-google-map>
    <div class="card" [hidden]="!directionsVisible">
      <div class="card-block">
        <div id="directionsPanel" class="directionsPanel"></div>
      </div>
    </div>
  </div>
  <div class="modal-body" *ngIf="!consultant">
    Loading ...
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="toggleDirections()">Direcții de orientare</button>
    <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Închide</button>
  </div>

</div>
