<template #rt let-r="result" let-t="term">
  {{r.name}}
</template>

<h2 class="page-title">Listă consultanți</h2>
<div class="row">
  <div class="col-sm-10 col-md-8 col-xl-5">
    <div class="row form-group">
      <label for="specInput" class="col-form-label">Specializare:</label>
      <div class="col-sm-9">
        <input type="text"
               id="specInput"
               class="form-control"
               placeholder=""
               [(ngModel)]="modelSpecialization"
               [ngbTypeahead]="searchSpecialization"
               (selectItem)="specializationSelected($event)"
               [resultTemplate]="rt"
        >
      </div>
    </div>
  </div>

  <div class="col-sm-10 col-md-8 col-xl-5">
    <div class="row form-group">
      <label for="countyInput" class="col-form-label">Județ:</label>
      <div class="col-sm-9">
        <input type="text"
               id="countyInput"
               class="form-control"
               placeholder=""
               [(ngModel)]="modelCounty"
               [ngbTypeahead]="searchCounty"
               (selectItem)="countySelected($event)"
               [resultTemplate]="rt"
        >
      </div>
    </div>
  </div>
  <div class="col-xl-2">
    <button class="btn btn-primary" (click)="doSearch()">Caută</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-md-8 col-xl-5">
    <div class="row form-group">
      <label for="nameInput" class="col-form-label">Nume:</label>
      <div class="col-sm-9">
        <input type="text"
               id="nameInput"
               class="form-control"
               placeholder=""
               [(ngModel)]="modelName"
               (keyup)="searchNameChanged()"
        >
      </div>
    </div>
  </div>

</div>

<div class="card">
  <div class="card-block">
    <table class="table" *ngIf="consultants && consultants.length">
      <thead class="thead-default">
      <tr>
        <th class="hidden-sm-down">#</th>
        <th *ngFor="let column of columns" [ngClass]="{'hidden-md-down': column['hidden-md-down']}">
          <span *ngIf="!column.sortable">{{column.title}}</span>
          <a *ngIf="column.sortable" (click)="toggleColumnOrder(column)" class="sortable-header">{{column.title}}</a>
        </th>
        <th>Acțiuni</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let consultant of consultants; let i = index">
        <td class="hidden-sm-down">{{i+1}}</td>
        <td *ngFor="let field of columns" [ngClass]="{'hidden-md-down': field['hidden-md-down']}">{{format(consultant, field)}}</td>
        <td>
          <div class="buttons-container">
            <button class="btn btn-outline-primary view"
                    (click)="consultantDetails(consultant)">
              <i class="fa fa-info" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-primary view"
                    (click)="openMap(consultant)">
              <i class="fa fa-map-o" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-primary view hidden-md-up"
                    (click)="consultantDetails(consultant)">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!--<div  class="row">-->

    <div class="alert alert-info" role="alert" *ngIf="!consultants">
      Se încarcă ...
    </div>
    <div class="alert alert-warning" role="alert" *ngIf="consultants && !consultants.length">
      Nu au fost găsiți consultanți.
    </div>
    <!--</div>-->
  </div>
</div>
