.btn.view {
  cursor: pointer;
}

.table tr td {
  vertical-align: middle;
}
.table {
  tr:nth-child(2n+1) {
    background: #ffffff;
  }
  tr:nth-child(2n) {
    background: #f8f8f8;
  }
  tr:hover {
    background: #f0f0f0;
  }
}

.page-title {
  margin-top: 30px;
}


.specialization-input {
  width: 200px;
}

.form-control {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.right {
  text-align: right;
}

.col-form-label {
  padding-left: 15px;
  font-size: 1.1em;
}

.btn-outline-primary {
  border: 0;
}

.buttons-container {
  min-width: 200px;
}

@media screen and (max-width: 768px) {
  .btn.btn-outline-primary.view {
    padding: 10px;
  }
  .buttons-container {
    min-width: 150px;
  }
}
